{% extends "template/base.html" %}

<!-- HEAD**************************************** -->
<!-- EXTRAHEAD-->
{% block extrahead %}{% endblock %}

<!-- BODY**************************************** -->
<!-- BODYCLASS -->
{% block bodyclass %}{% endblock %}

<!-- HEADER**************************************** -->
<!-- NAVIGATION -->
<!-- CONTEXT NAVIGATION -->
<!-- BREADCRUMBS -->

<!-- CONTENT**************************************** -->
<!-- CONTENT CLASS -->
{% block content_class %}{% endblock %}
<!-- MESSAGES -->
<!-- CONTENT TITLE -->
<!-- CONTENT -->
{% block content %}{% endblock content %}

<!-- FOOTER**************************************** -->
{% block footer %}{% endblock %}
