
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label" for="input_party_relation">Party Rel.</label>
                <div class="col-sm-9">
                    <input class="form-control" id="input_party_relation" type="text" placeholder="杨浦区XX小区党支部">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="input_party_branch">Branch</label>
                <div class="col-sm-9">
                    <input class="form-control" id="input_party_branch" type="text" placeholder="XX党委第一支部">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="input_position">Position</label>
                <div class="col-sm-9">
                    <input class="form-control" id="input_position" type="text" placeholder="党支书">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="select_member_type">Type</label>
                <div class="col-sm-9">
                    <select class="form-control" id="select_member_type">
                        <option>党员</option>
                        <option>预备党员</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="input_apply_date">Appl. date</label>
                <div class="col-sm-9">
                    <input class="form-control" id="input_apply_date" type="date">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="input_join_date">Join date</label>
                <div class="col-sm-9">
                    <input class="form-control" id="input_join_date" type="date">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="input_inspector">Inspector</label>
                <div class="col-sm-9">
                    <input class="form-control" id="input_inspector" type="text" placeholder="Eugene">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="input_apply_id">Appl. ID</label>
                <div class="col-sm-9">
                    <input class="form-control" id="input_apply_id" type="text" placeholder="1140000">
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" id="btn_">Update All</button>
        </form>