
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label" for="select_gender">Gender</label>
                <div class="col-sm-9">
                    <select class="form-control" id="select_gender">
                        <option>男</option>
                        <option>女</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="input_age">Age</label>
                <div class="col-sm-9">
                    <input class="form-control" id="input_age" type="number" placeholder="30">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="input_phone">Phone</label>
                <div class="col-sm-9">
                    <input class="form-control" id="input_phone" type="text" placeholder="18516190000">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="select_identification_type">ID type</label>
                <div class="col-sm-9">
                    <select class="form-control" id="select_identification_type">
                        <option>idcard</option>
                        <option>readercard</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="input_identification_value">ID value</label>
                <div class="col-sm-9">
                    <input class="form-control" id="input_identification_value" type="text" placeholder="360728199208010000">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="select_marriage">Marriage</label>
                <div class="col-sm-9">
                    <select class="form-control" id="select_marriage">
                        <option>已婚</option>
                        <option>未婚</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="select_employment">Employment</label>
                <div class="col-sm-9">
                    <select class="form-control" id="select_employment">
                        <option>就业</option>
                        <option>失业</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="select_residence_type">ResideType</label>
                <div class="col-sm-9">
                    <select class="form-control" id="select_residence_type">
                        <option>城镇</option>
                        <option>农村</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="select_residence_status">ResideStat</label>
                <div class="col-sm-9">
                    <select class="form-control" id="select_residence_status">
                        <option>人在户在</option>
                        <option>人在户不在</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="select_education">Education</label>
                <div class="col-sm-9">
                    <select class="form-control" id="select_education">
                        <option>大学</option>
                        <option>高中</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="select_party">Party</label>
                <div class="col-sm-9">
                    <select class="form-control" id="select_party">
                        <option>党员</option>
                        <option>群众</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="select_nationality">Nationality</label>
                <div class="col-sm-9">
                    <select class="form-control" id="select_nationality">
                        <option>中国</option>
                        <option>其他</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="select_income_status">Income</label>
                <div class="col-sm-9">
                    <select class="form-control" id="select_income_status">
                        <option>纳保</option>
                        <option>低保</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="select_nation">Nation</label>
                <div class="col-sm-9">
                    <select class="form-control" id="select_nation">
                        <option>汉族</option>
                        <option>少数民族</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" id="btn_">Update All</button>
        </form>