
        <form class="form-horizontal">
            <input id="input_role_user_id" name="user_id" type="text" hidden>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="select_role">Role</label>
                <div class="col-sm-9">
                    <select class="form-control" id="select_role" name="role_type_id">
                        <option>居委会</option>
                        <option>业委会</option>
                        <option>物业</option>
                        <option>居民</option>
                        <option>块长</option>
                        <option>楼组长</option>
                        <option>党员</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="select_role_position">Position</label>
                <div class="col-sm-9">
                    <select class="form-control" id="select_role_position" name="role_id">
                        <option>块长</option>
                        <option>楼组长</option>
                        <option>党总支书记</option>
                        <option>居委会主任</option>
                        <option>民政老龄主任</option>
                        <option>治保主任</option>
                        <option>调解主任</option>
                        <option>计生主任</option>
                        <option>妇代主任</option>
                        <option>卫生主任</option>
                        <option>文教主任</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="input_role_job_description">Job detail</label>
                <div class="col-sm-9">
                    <input class="form-control" id="input_role_job_description" name="role_description" type="text" placeholder="块长职责">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="input_role_job_block">Block #</label>
                <div class="col-sm-9">
                    <input class="form-control" id="input_role_job_block" name="user_role_description" type="text" placeholder="第一块区（1-11、21、22）">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="input_addr_detail">Addr. detail</label>
                <div class="col-sm-9">
                    <input class="form-control" id="input_addr_detail" name="description_detail" type="text" placeholder="国和路888弄32号101室">
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" id="btn_update_user_role">Update All</button>
        </form>