
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label" for="select_gender">Gender</label>
                <div class="col-sm-9">
                    <select class="form-control" id="select_gender" genderVal="{{ user_resident_info.gender if user_resident_info else 1 }}">
                        <option value="1">男</option>
                        <option value="2">女</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="input_age">Age</label>
                <div class="col-sm-9">
                    <input class="form-control" id="input_age" type="number" value="{{ user_resident_info.age if user_resident_info else '30'}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="input_phone">Phone</label>
                <div class="col-sm-9">
                    <input class="form-control" id="input_phone" type="text" value="{{ user_resident_info.phone if user_resident_info else '18516190000'}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="select_identification_type">ID type</label>
                <div class="col-sm-9">
                    <select class="form-control" id="select_identification_type" idTypeVal="{{ user_resident_info.identification_type if user_resident_info else 1 }}">
                        <option value="1">idcard</option>
                        <option value="2">readercard</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="input_identification_value">ID value</label>
                <div class="col-sm-9">
                    <input class="form-control" id="input_identification_value" type="text" value="{{ user_resident_info.identification_value if user_resident_info else '360728199208010000' }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="select_marriage">Marriage</label>
                <div class="col-sm-9">
                    <select class="form-control" id="select_marriage" marriageVal="{{ user_resident_info.marriage_status if user_resident_info else 1 }}">
                        <option>已婚</option>
                        <option>未婚</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="select_employment">Employment</label>
                <div class="col-sm-9">
                    <select class="form-control" id="select_employment" employmentVal="{{ user_resident_info.employment_status if user_resident_info else 1 }}">
                        <option value="1">就业</option>
                        <option value="2">失业</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="select_residence_type">ResideType</label>
                <div class="col-sm-9">
                    <select class="form-control" id="select_residence_type" residentTypeVal="{{ user_resident_info.residence_category if user_resident_info else 1 }}">
                        <option value="1">城镇</option>
                        <option value="2">农村</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="select_residence_status">ResideStat</label>
                <div class="col-sm-9">
                    <select class="form-control" id="select_residence_status" residenceStatusVal="{{ user_resident_info.resident_status if user_resident_info else 1 }}">
                        <option value="1">人在户在</option>
                        <option value="2">人在户不在</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="select_education">Education</label>
                <div class="col-sm-9">
                    <select class="form-control" id="select_education" educationVal="{{ user_resident_info.education_status if user_resident_info else 1 }}">
                        <option value="1">大学</option>
                        <option value="2">高中</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="select_party">Party</label>
                <div class="col-sm-9">
                    <select class="form-control" id="select_party" partyVal="{{ user_resident_info.politics_status if user_resident_info else 1 }}">
                        <option value="1">党员</option>
                        <option value="2">群众</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="select_nationality">Nationality</label>
                <div class="col-sm-9">
                    <select class="form-control" id="select_nationality" nationalityVal="{{ user_resident_info.migration_status if user_resident_info else 1 }}">
                        <option value="1">中国</option>
                        <option value="2">其他</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="select_income_status">Income</label>
                <div class="col-sm-9">
                    <select class="form-control" id="select_income_status" incomeStatusVal="{{ user_resident_info.income_status if user_resident_info else 1 }}">
                        <option value="1">纳保</option>
                        <option value="2">低保</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="select_nation">Nation</label>
                <div class="col-sm-9">
                    <select class="form-control" id="select_nation" nationVal="{{ user_resident_info.nation if user_resident_info else 1 }}">
                        <option value="1">汉族</option>
                        <option value="2">少数民族</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" id="btn_update_resident_info">Update All</button>
        </form>